.header{
    background-color: #1F2937;
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.section1{
    background-color: #1F2937;
    padding: 20px;
    display: flex;
    row-gap: 20px;
}
.section3{
    background-color: #E5E7EB;

}
.footer{
    background-color: #1F2937 ;
    color: #f9faf8;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

/*second level*/
.links{
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 20px;
}
.title{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}
.contenido{
    font-size: 18px;
    color: #E5E7EB;
}
.sec1-contenido{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.b1{
    flex-shrink: 0;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 4px 20px;
    border-radius: 10px;
    border-color: none;
    font-weight: 800;
    
}


.imagen{
    flex-shrink: 0;
    background-color: rebeccapurple;
    width: 400px;
    height: 300px;

}